@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .col-lg-3,.col-lg-6 {
            height: 250px;
            background: whitesmoke;
            border: 1px solid lightgray;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row bg-success">
        <h3 class="text-center">Ajax Implementation Demos</h3>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-lg-3" id="simpleCallView">
            @RenderPage("_SimpleCall.cshtml")
        </div>
        <div class="col-lg-3">
            @RenderPage("_WithRouteParameters.cshtml")
        </div>
        <div class="col-lg-3">
            @RenderPage("_WithQueryString.cshtml")
        </div>
        <div class="col-lg-3">
            @RenderPage("_WithJsonObject.cshtml")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            @RenderPage("_WithSendingAndReceivinJsonObject.cshtml")
        </div>
    </div>

</div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/SimpleCallScript.js"></script>
    <script src="~/Scripts/WithRouteParametersScript.js"></script>
    <script src="~/Scripts/WithQueryString.js"></script>
    <script src="~/Scripts/WithJsonObject.js"></script>
    <script src="~/Scripts/WithSendingAndReceivingJsonObject.js"></script>
</body>
</html>
