@using FirstAPSMVCApplication.Models;
@model FirstClass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThirdMethod</title>
</head>
<body>
    <div>


        @*<form action="/First/ThirdMethod" method="post">


                <input type="text" name="FirstName"/><br/>
                <input type="text" name="FirstRollNumber"/><br/>
                <input type="text" name="SecondName"/><br/>
                <input type="submit"/>
            </form>
            <br />*@



        @if (ViewBag.Message != null)
        { <h3>
            @ViewBag.Message;
        </h3>

        }
        <br />
        @using (Html.BeginForm("ThirdMethod", "First", FormMethod.Post))
        {

            @Html.TextBoxFor(x => x.FirstName)<br /><br />
            @Html.TextBoxFor(x => x.FirstRollNumber)<br /><br />
            @Html.TextBoxFor(x => x.SecondName)<br /><br />
            <input type="submit" />


        }




        @*@for (int i = 0; i < 10; i++)
            {
                <h1>@ViewBag.FirstViewBag</h1>

            }*@

        @{
            List<FirstClass> objs = (List<FirstClass>)ViewBag.FirstObject;
        }
        
        @if (objs != null && objs.Count > 0)
        {
            foreach (FirstClass obj in objs)
             {
                 if (obj != null)
                 {
                     <ul>
                         <li>@obj.FirstName</li>
                         <li>@obj.SecondName</li>
                         <li>@obj.FirstRollNumber</li>
                     </ul>
                 }
                 else
                 {
                     <ul>
                         <li>Not Found</li>

                     </ul>
                 }
             }

        }
       
       

    </div>
</body>
</html>
